doctype html
html
  head
    meta(charset='utf-8')
    title DevOpsVale
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='DevOpsVale, a comunidade DevOps do Vale do Paraíba.', name='description')
    meta(content='NOODP, index, follow', name='robots')
    meta(content='DevOpsVale', itemprop='name')
    meta(content='DevOpsVale, a comunidade DevOps do Vale do Paraíba.', itemprop='description')
    meta(content='/img/meta.jpg', itemprop='image')
    meta(content='summary', name='twitter:card')
    meta(content='@queroedu', name='twitter:site')
    meta(content='DevOpsVale', name='twitter:title')
    meta(content='DevOpsVale, a comunidade DevOps do Vale do Paraíba.', name='twitter:description')
    meta(content='@queroedu', name='twitter:creator')
    meta(content='img/meta.jpg', name='twitter:image:src')
    meta(content='eventbrite.com/e/meet-up-devops-tickets-48951495240', name='twitter:domain')
    meta(content='DevOpsVale', property='og:title')
    meta(content='website', property='og:type')
    meta(content='https://www.eventbrite.com/e/meet-up-devops-tickets-48951495240', property='og:url')
    meta(content='/img/meta.jpg', property='og:image')
    meta(content='DevOpsVale, a comunidade DevOps do Vale do Paraíba.', property='og:description')
    meta(content='DevOpsVale', name='application-name')
    meta(content='#33312F', name='msapplication-TileColor')
    meta(content='#33312F', name='theme-color')
    link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
    link(rel='manifest', href='img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel='stylesheet', type='text/css', href='style.css')
  body.is-mobile
    section.hero.full-height
      nav
        .content.wide-mobile
          ul.nav-items
            li
              a.button(href='index.html') DevOpsVale
            li.spacer
            li
              span.hide-mobile Meetup 2018
            li
              a.button(href='https://www.eventbrite.com/e/meet-up-devops-tickets-48951495240', target='_blank') Ingressos
      .spacer
      .hero-content
        img(alt='', src='img/capivara-icon.svg')
        h1 DevOpsVale, a comunidade DevOps do Vale do Paraíba.
      h5
        | 15 de Setembro, no escritório da Quero Educação
        br
        br
        |     Avenida São João, 1701
        br
        |     Jardim Esplanada
        br
        |     São José dos Campos, SP
      .spacer
      .hero-teaser
        h4#down > Sobre o evento <
    section.overview.padded
      .text-content
        .text.is-animated
          h2 DevOps
          p
            | O termo 
            strong DevOps
            |  está cada dia mais presente na vida dos times de tecnologia.
          p
            | Existem muitas opiniões e contra opiniões sobre o tema:
            br
            |         É uma cultura? Um Cargo? Uma metodologia?
          p
            | Ou apenas uma forma nova de pensar? Muita gente boa já atua na área e muitas outras querem dar um próximo
            | passo.
          p
            | A Quero Educação vai reunir todos esses entusiastas para movimentar, e criar a comunidade 
            strong
              | DevOps do
              | Vale do Paraíba
            | .
      .graphic.right
        img(alt='', src='img/landscape-1.svg')
    section.beliefs.padded
      .text-content
        .text.is-animated
          h2 Programação
          ol
            li
              | Credenciamento e Welcome Coffee — 
              strong (8:30)
            li
              | Abertura do evento — 
              strong (9:00)
            li
              | A comunidade DevOps no Vale do Paraíba — 
              strong (9:30)
              br
              |           Palestrantes: 
              a(href='https://www.linkedin.com/in/igorventurelli', target='_blank') Igor Venturelli
              |  & 
              a(href='https://www.linkedin.com/in/thiagolsfortunato', target='_blank') Thiago Fortunato
            li
              | Afinal, o que é este tal de DevOps? — 
              strong (10:00)
              br
              |           Palestrantes: 
              a(href='https://www.linkedin.com/in/danielrequena', target='_blank') Daniel Requena
              |  & 
              a(href='https://www.linkedin.com/in/linuxmen', target='_blank') Christiano Linuxmen
            li
              | DevOps, legal, como isso funciona na prática?
              br
              |           (AWS, Terraform) — 
              strong (11:00)
              br
              |           Palestrantes: 
              a(href='https://www.linkedin.com/in/fernando-pereira-br', target='_blank') Fernando Pereira
              |  & 
              a(href='https://www.linkedin.com/in/aissarmurad', target='_blank') Aissar Murad
            li
              | Encerramento do evento e networking — 
              strong (12:00)
      .graphic.left
        img(alt='', src='img/landscape-2.svg')
    section.history.padded
      .text-content.with-grid
        .text.is-animated
          h2 Sobre a Quero Educação
          p
            | Somos a startup líder em edtech (tecnologia para educação) no Brasil, que desenvolve soluções para que
            | mais pessoas tenham acesso a uma educação de qualidade. Nossa missão é modificar o atual cenário da Educação no
            | país, conectando estudantes e instituições de ensino para transformar a realidade de milhares de brasileiros
            | que buscam no conhecimento novas oportunidades.
          p
            | Já ajudamos a matricular mais de 400 mil estudantes no ensino superior e somos a primeira startup brasileira
            | de educação acelerada pela Y Combinator, por onde já passaram empresas como Airbnb e Reddit.
        .grid
          img.hide-mobile(alt='', src='img/beach.jpg')
          img.hide-mobile(alt='', src='img/crowd.jpg')
          img(alt='', src='img/view.jpg')
    section.padded
    section.footer.full-height
      .spacer
      h5 Garanta seu lugar
      .apply-button
        a.button.white(href='https://www.eventbrite.com/e/meet-up-devops-tickets-48951495240', target='_blank') Compre seu Ingresso
      .graphic.center
        img(alt='', src='img/tahoe-landscape.svg')
      .spacer
      .content
        footer
          a(href='https://www.facebook.com/queroedu') Facebook
          a(href='https://twitter.com/queroedu') Twitter
          a(href='https://www.linkedin.com/company/queroedu/') Linkedin
      script.
        document.body.className = ' skip';
    script(src='js/home.js')
    script(src='js/sections.js')
    script.
      new Sections({sectionClass: 'is-animated'}).enable();
